a:hover {
	text-decoration: none;
	outline-style: none;
	color: #3dab63;
}

#BGVideo {
	filter: hue-rotate(280deg);
	--webkit-filter: hue-rotate(280deg);
	min-width: 110%;
}

#main-logo-icon {
	width: 40px;
	margin-left: 8px;
	animation-name: logo-top-bottom;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	transform: translateY(5px);
}

@keyframes logo-top-bottom {
	0% {
		transform: translateY(5px);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(5px);
	}
}

#toplogospan {
	color: #3dab63 !important;
}

g > text {
	fill: #3dab63 !important;
}

.daymenu-title {
	color: #85b493;
	text-shadow: 0 2px 8px #a2fece, 0 -2px 1px #fff;
}
.daymenu-desc {
	color: #85b493;
}

.header-icon-wrapper {
	display: flex;
	align-items: center;
}

.btn-buy-now {
	/* color: #fff; */
	/* background-color: #3dab63; */
	color: #3dab63;
	border-color: #3dab63;
	border-radius: 100px;
	width: auto;
	padding: 6px 20px;
	font-family: "Averia Libre", cursive;
}

.btn-presale {
	color: #fff;
	background-color: #3dab63;
	border-color: #3dab63;
	border-radius: 100px;
	width: auto;
	padding: 6px 20px;
	font-family: "Averia Libre", cursive;
	margin-right: 18px;
}

.header-icon {
	padding: 8px 16px 8px 0px;
	display: inline-block;
	font-size: 20px;
}

.daymenu-cont.show .daymenu-title,
.daymenu-cont.show .daymenu-desc {
	transform: translate3d(0, 0, 0);
	opacity: 1;
}

.daymenu-title {
	font-size: 3.5vw;
}

@media screen and (min-width: 1699px) {
	.daymenu-title {
		font-size: 60px;
	}
}

.header-marquee {
	flex: 1;
	padding: 0 100px 0 200px;
}

@media screen and (max-width: 991px) {
	.header-marquee {
		display: none;
	}
}

.presale-container {
	min-height: calc(100vh - 200px);
}
.presale {
	color: #2a934f;
	max-width: 800px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 40px 60px;
	border-radius: 8px;
}
.presale .title {
	font-size: 30px;
	text-align: center;
	margin: 0 0 24px 0;
}
.presale .grid-info > [class*="col"] {
	margin-bottom: 8px;
}
.presale .contribution {
	font-size: 18px;
	font-weight: bold;
}
.presale .input-amount {
	padding: 16px 12px;
	border: 2px solid #2a934f;
	width: 100%;
	margin-bottom: 20px;
}
.presale .input-amount::placeholder {
	color: #999;
}
.presale .contribute-btn {
	padding: 16px 12px;
	border: none;
	background-color: #3dab63;
	color: #fff;
	width: 100%;
}
.input-amount-error {
	margin-top: -12px;
	margin-bottom: 12px;
	color: red;
	font-size: 90%;
	font-style: italic;
}